@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;  
}

html {
  font-size: 62.5%;
}

:root {
  --pr: #111;
  --se: #eee;
  --or: #ff4500;
  --gl: #ccc;
  --gm: #888;
  --gd: #333;
  --wh: #fefefe;
  --sk: #2babde;
  --xs: 3px;
  --sm: 5px;
  --md: 7px;
  --lg: 10px;
  --xl: 15px;
  --bx: 5px 10px 15px rgba(0, 0, 0, 0.5);
  --tr: 0.5s;
  --w4: 400;
  --w5: 500;
  --w6: 600;
  --w7: 700;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
  background: url('images/bg.png') top no-repeat;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  border: 1px solid var(--or);
  border-radius: var(--sm);
  padding: 10rem 5rem 8rem 5rem;

}